.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgoldenrodyellow;
  }

  .textarea-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  textarea {
    height: 20rem;
    width: 90%;
  }

  .FAQ {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FAQ-text{
    width: 90%;
  }

  li+li {
    margin-top: 10px;
  } 